body, html {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, body {
  line-height: 1.77;
  font-size: 14px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  height: 160px;
  line-height: 160px;
  background-color: #a0ffa0;
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.contents {
  width: 900px;
  margin: 5px auto;
}

.contents p {
  font-size: 18px;
  margin: 16px 0;
}

.contents .index {
  height: 720px;
  background-color: #eaeaea;
}

.contents .index h2 {
  font-size: 24px;
  padding: 10px 0 0 30px;
}

.contents .index h3 {
  font-size: 18px;
}

.contents .index ol {
  padding: 0 0 0 60px;
  /*list-style: none;*/
}

footer {
  height: 20px;
  background-color: #dadada;
}

footer p {
  text-align: center;
  font-size: 14px;
}
