body, html {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, body {
  line-height: 1.77;
  font-size: 14px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  height: 160px;
  line-height: 160px;
  background-color: #a0ffa0;
  color: #fff;
  font-family: Meiryo;
  font-size: 48px;
  text-align: center;
}

.contents {
  width: 1100px;
  margin: 5px auto;
}

.left-contents {
  width: 840px;
  float: left;
}

.right-wrapper {
  float: left;
  width: 240px;
}

.right-contents {
  min-height: 200px;
  width: 240px;
  margin-top: 30px;
  margin-left: 20px;
  /*margin-top: 30px;*/
  border-top: solid 1px;
  border-bottom: solid 1px;
  /*position: fixed;*/
}

.fixed {
  position: fixed;
  top: 0px;
}
/*
.fixed-right {
  right: 0px;
}*/

.contents p {
  font-size: 18px;
  margin: 16px 0;
}

.contents article p {
  font-size: 18px;
}

.contents article p a {
  color: #da6060;
}

.contents article h2 {
  font-size: 28px;
  border-left: 3px solid #aaaaff;
  border-bottom: 3px solid #cacaca;
  padding-left: 10px;
  margin: 45px 0 15px;
}

.contents article h3 {
  font-size: 22px;
}

#index {
  font-size: 18px;
  line-height: 10px;
}

article .red-text {
  color: #ff3030;
}

article .blue-text {
  color: #3030ff;
}

article .sub-text {
  color: #808080;
}

article .output p {
  background-color: #dadada;
  padding: 3px 0 3px 10px;
}

article .result-time {
  font-size: 40px;
  color: #707070;
  /*
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

article .space {
  height: 900px;
  background-color: #dadaff;
}

.contents .index {
  height: 720px;
  background-color: #eaeaea;
}

.contents .index h2 {
  font-size: 24px;
  padding: 10px 0 0 30px;
}

.contents .index h3 {
  font-size: 18px;
}

.contents .index ol {
  padding: 0 0 0 60px;
  /*list-style: none;*/
}

.contents ul {
  font-size: 18px;
}

.right-contents ul {
  font-size: 14px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

footer {
  height: 20px;
  background-color: #dadada;
}

footer p {
  text-align: center;
  font-size: 14px;
}
